<a href="https://colab.research.google.com/github/JCSR2022/challenge2-data-science-Alura/blob/main/challenge2_data_science_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# challenge2-data-science-Alura

Guia para proyecto en:
https://trello.com/b/GieOySjr/challenge-telecomxlatam


estructura sugerida proyecto:https://github.com/ingridcristh/challenge2-data-science-LATAM/blob/main/TelecomX_LATAM.ipynb

al final se debe incluir un informe que debe incluir:

游댳 Introducci칩n: Explica el objetivo del an치lisis y el problema de evasi칩n de clientes (Churn).

游댳 Limpieza y Tratamiento de Datos: Describe los pasos realizados para importar, limpiar y procesar los datos.

游댳 An치lisis Exploratorio de Datos: Presenta los an치lisis realizados, incluyendo gr치ficos y visualizaciones para identificar patrones.

游댳 Conclusiones e Insights: Resume los principales hallazgos y c칩mo estos datos pueden ayudar a reducir la evasi칩n.

游댳 Recomendaciones: Ofrece sugerencias estrat칠gicas basadas en tu an치lisis.

In [1]:
pasos = "challenge2-data-science-Alura\n"

## Extracci칩n de datos

 Los datos est치n disponibles en formato JSON y contienen informaci칩n esencial sobre los clientes, incluyendo datos demogr치ficos, tipo de servicio contratado y estado de evasi칩n.

 data opcion1:https://github.com/ingridcristh/challenge2-data-science-LATAM/blob/main/TelecomX_Data.json

data opcion2:'https://github.com/alura-cursos/challenge2-data-science-LATAM/blob/main/TelecomX_Data.json'

In [2]:
# Cargar los datos directamente desde la API utilizando Python.
# Convertir los datos a un DataFrame de Pandas para facilitar su manipulaci칩n.
# Este metodo se puede mejorar para carga eficiente v칤a streaming con ijson para datasets grandes

import requests
import json
import pandas as pd

url_data = "https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/main/TelecomX_Data.json"
datos_request = requests.get(url_data)

datos_raw = json.loads(datos_request.text)
df = pd.json_normalize(datos_raw)

print(df.shape)
df.sample(5)

(7267, 21)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
6903,9512-PHSMG,No,Female,0,Yes,No,10,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,20.55,252.75
451,0639-QDHAY,,Female,0,No,No,22,Yes,No,Fiber optic,...,No,No,Yes,No,Yes,Month-to-month,Yes,Electronic check,89.05,1886.25
1649,2344-JMOGN,Yes,Male,0,Yes,No,9,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,No,Month-to-month,Yes,Mailed check,94.85,890.6
6275,8631-NBHFZ,Yes,Male,1,Yes,Yes,66,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),79.40,5154.6
4041,5533-NHFRF,No,Male,1,No,No,7,No,No phone service,DSL,...,Yes,No,Yes,No,Yes,Month-to-month,Yes,Electronic check,44.40,265.8

In [3]:
import pandas as pd

#en caso de querer trabajar con un archivo muy grande:
#for chunk in pd.read_json(url, lines=True, chunksize=10000):
#    df = pd.json_normalize(chunk.to_dict("records"))


url_data = "https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/main/TelecomX_Data.json"

data_raw = pd.read_json(url_data)

data = pd.json_normalize(data_raw.to_dict(orient="records"))

print(data.shape)
data.head()

(7267, 21)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [4]:
extraccion_pasos = """Extraccion de datos:
Se realizo la la descarga del archivo con pd.read_json y luego se normalizo usando pd.json_normalize.\n"""

In [5]:
pasos+=extraccion_pasos
print(pasos)

challenge2-data-science-Alura
Extraccion de datos:
Se realizo la la descarga del archivo con pd.read_json y luego se normalizo usando pd.json_normalize.

## Exploracion y comprobaci칩n de incoherencias en los datos

Explorar las columnas del dataset y verificar sus tipos de datos.
Consultar el diccionario para comprender mejor el significado de las variables.Identificar las columnas m치s relevantes para el an치lisis de evasi칩n.

Verificar si hay problemas en los datos que puedan afectar el an치lisis: alores ausentes, duplicados, errores de formato e inconsistencias en las categor칤as.

Este proceso es esencial para asegurarte de que los datos est칠n listos para las siguientes etapas.

Diccionario de datos: https://github.com/ingridcristh/challenge2-data-science-LATAM/blob/main/TelecomX_diccionario.md

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### customerID  debe ser un codigo unico

In [7]:
data['customerID'].unique().shape[0], data.shape[0]

(7267, 7267)

### Churn debe tener solo dos valores

In [8]:
data['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [9]:
print(f"Cantidad de valores no definidos {data[data['Churn']==''].shape[0]}")

Cantidad de valores no definidos 224

In [10]:
# Se eliminaran las filas que no aportan informacion
data = data[data['Churn']!='']
print(data.shape[0])

7043

In [11]:
data['customer.gender'].unique()

array(['Female', 'Male'], dtype=object)

In [12]:
for col in data.columns:
    print(f"Columna: {col}, valores unicos: {data[col].unique()},{data[col].dtype}")
    print()

Columna: customerID, valores unicos: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH'],object

Columna: Churn, valores unicos: ['No' 'Yes'],object

Columna: customer.gender, valores unicos: ['Female' 'Male'],object

Columna: customer.SeniorCitizen, valores unicos: [0 1],int64

Columna: customer.Partner, valores unicos: ['Yes' 'No'],object

Columna: customer.Dependents, valores unicos: ['Yes' 'No'],object

Columna: customer.tenure, valores unicos: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42
  0],int64

Columna: phone.PhoneService, valores unicos: ['Yes' 'No'],object

Columna: phone.MultipleLines, valores unicos: ['No' 'Yes' 'No phone service'],object

Columna: internet.InternetService, valores unicos: ['DSL' 'Fiber optic' 'No'],object

Columna: internet.OnlineSecurity, valores unicos: ['No' 'Yes' 'No internet service'],object

Columna: internet.OnlineBackup, valores unicos: ['Yes' 'No' 'No internet service'],object

Columna: internet.DeviceProtection, valores unicos: ['No' 'Yes' 'No internet service'],object

Columna: internet.TechSupport, valores unicos: ['Yes' 'No' 'No internet service'],object

Columna: internet.StreamingTV, valores unicos: ['Yes' 'No' 'No internet service'],object

Columna: internet.StreamingMovies, valores unicos: ['No' 'Yes' 'No internet service'],object

Columna: account.Contract, valores unicos: ['One year' 'Month-to-month' 'Two year'],object

Columna: account.PaperlessBilling, valores unicos: ['Yes' 'No'],object

Columna: account.PaymentMethod, valores unicos: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)'],object

Columna: account.Charges.Monthly, valores unicos: [65.6  59.9  73.9  ... 91.75 68.8  67.85],float64

Columna: account.Charges.Total, valores unicos: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6'],object

In [13]:
# la funcion data['account.Charges.Total'].astype(float) da problemas debido a que hay valores vacios

tmp = pd.to_numeric(data['account.Charges.Total'], errors='coerce')
n_invalid = tmp.isna().sum()
print(f"Filas no convertibles: {n_invalid}")
data[data['account.Charges.Total'].astype(str).str.strip() == ""].head(3)

Filas no convertibles: 11

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,

In [14]:
# Conversion a float de valores validos
data.loc[:,'account.Charges.Total'] = pd.to_numeric(data['account.Charges.Total'],errors='coerce')

In [15]:
#los 11 espacios vacios quedan como valores Nan
data.isna().sum().sum()

np.int64(11)

In [16]:
#eliminacion de las filas con valores nan
data = data.dropna()
data.isna().sum().sum()

np.int64(0)

In [17]:
#por algun motivo la columna no se convirtio al formato float,
# posiblemente el proceso normalize crea el df con columnas tipo contenedor
data.loc[:,'account.Charges.Total'].dtype

dtype('O')

In [18]:
#se procede a forzar recast del dtype

data['account.Charges.Total'] = pd.Series(data['account.Charges.Total'].values, dtype="float64")
data.loc[:,'account.Charges.Total'].dtype

dtype('float64')

In [23]:
data.drop(columns=['customerID'],inplace=True)

In [19]:
exploracion_pasos = """Exploracion:
Se realizo la exploracion de los datos con data.info()
 -se eliminaron filas donde la columna churn no tenia informacion
 -se eliminaron filas que en columna account.Charges.Total no tenian valor y se convirtio a float
 -se eliminaron filas con valores nulos
 -La columna customerID no aporta informacion por lo que se elimina
 -No quedan valores nulos\n"""

In [20]:
pasos += exploracion_pasos
print(pasos)

challenge2-data-science-Alura
Extraccion de datos:
Se realizo la la descarga del archivo con pd.read_json y luego se normalizo usando pd.json_normalize.
Exploracion:
Se realizo la exploracion de los datos con data.info()
 -se eliminaron filas donde la columna churn no tenia informacion
 -se eliminaron filas que en columna account.Charges.Total no tenian valor y se convirtio a float
 -No quedan valores nulos

## Analisis de patrones

Por recomendacion de la guia del proyecto se crea al columna 'account.Charges.daily' = 'account.Charges.Monthly'/30

Ahora que se tiene la informacion limpia, se procedera a cumplir los objetivos:

* Analizar patrones asociados al abandono de clientes.

* Detectar variables clave que influyen en la cancelaci칩n.

In [25]:
data['account.Charges.daily'] = data['account.Charges.Total']/30

In [28]:
data.sample(5)

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,account.Charges.daily
3738,No,Male,0,No,No,67,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),19.95,187.45,6.248333
872,No,Male,0,No,No,21,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,No,Mailed check,75.30,3958.20,131.940000
5104,No,Female,0,No,No,8,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,19.20,755.50,25.183333
4635,No,Male,1,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,94.75,847.80,28.260000
3381,No,Female,0,No,Yes,8,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,19.95,476.80,15.893333

In [30]:
data.columns

Index(['Churn', 'customer.gender', 'customer.SeniorCitizen',
       'customer.Partner', 'customer.Dependents', 'customer.tenure',
       'phone.PhoneService', 'phone.MultipleLines', 'internet.InternetService',
       'internet.OnlineSecurity', 'internet.OnlineBackup',
       'internet.DeviceProtection', 'internet.TechSupport',
       'internet.StreamingTV', 'internet.StreamingMovies', 'account.Contract',
       'account.PaperlessBilling', 'account.PaymentMethod',
       'account.Charges.Monthly', 'account.Charges.Total',
       'account.Charges.daily'],
      dtype='object')

In [56]:
#analisis porcentaje de clientes que presentan Churn

# cliente = [col.split('.')[1] for col in data.columns if col.startswith('customer')]
# servicio = [col.split('.')[1] for col in data.columns if (col.startswith('internet') or col.startswith('phone'))]
# cuenta = [col.removeprefix("account.") for col in data.columns if col.startswith('account')]

cliente = [col  for col in data.columns if col.startswith('customer')]
servicio = [col for col in data.columns if (col.startswith('internet') or col.startswith('phone'))]
cuenta = [col for col in data.columns if col.startswith('account')]

In [57]:
cliente

['customer.gender',
 'customer.SeniorCitizen',
 'customer.Partner',
 'customer.Dependents',
 'customer.tenure']

In [1]:
#Separamos tenure para analisis diferente

data['customer.tenure']

NameError: name 'data' is not defined

In [53]:



#df_clinete = data.groupby('customer.gender').agg({'Churn':'count'})
# df_clinete = pd.DataFrame()

# for col in cliente:
#   df_clinete[col] = data.groupby('customer.'+col).agg({'Churn':'count'})

# df_clinete

                 gender  SeniorCitizen  Partner  Dependents  tenure
customer.gender
Female             3483            NaN      NaN         NaN     NaN
Male               3549            NaN      NaN         NaN     NaN

## Generar insights accionables para la toma de decisiones

## Transformacion


Preparar los datos para futuros modelos de Machine Learning.

Para columnas con m칰ltiples categor칤as sin orden natural, como PaymentMethod, la opci칩n m치s adecuada es One-Hot Encoding, ya que evita introducir una relaci칩n num칠rica artificial entre las categor칤as y permite que el modelo las trate de forma independiente, lo cual es especialmente importante en modelos lineales y basados en distancia; aunque aumenta la dimensionalidad, en este caso no suele ser un problema porque el n칰mero de categor칤as es reducido, por lo que resulta una soluci칩n m치s segura y alineada con buenas pr치cticas que usar una simple codificaci칩n num칠rica.

In [21]:

referencias = {'churn':{0:'No',1:'Yes'}}